.boxContainerBody :global(.vtex-button){
    background-color: #140d2e !important;
    color: white;
    padding: 10px !important;
}
.dataEntryChildren{
    color: black;
    font-size: 15px;
    font-weight: 400;
}
.dataEntryLabel{
    text-transform: uppercase;
    font-weight: 700;
}
:global(.vtex-checkbox__box-wrapper){
    border: 1px solid;
}
.boxContainer{
    border: 1px solid rgb(130 130 130 / 87%);
}
:global(.vtex-account) > div{
    padding: 20px 85px 20px 55px;
}
.userGreeting {
    margin-top: 10px;
}
:global(.vtex-checkbox__inner-container) {
    border-color: transparent !important;
    background: transparent;

}

@media (max-width: 600px) {
    :global(.vtex-account) > div{
        padding: 20px 15px 20px 15px;
    }
    .menu {
        padding: 0;
    }
}

.addressList :global(.flex span.t-heading-4){
    width: 0;
    font-size: 0;
}

.addressList :global(.flex span.t-heading-4::before){
    content: "Usted no tiene ninguna dirección registrada";
    font-size: 1.5rem;
}

.menu ~ :global(.flex .vtex-account__page-body.vtex-account__cards-list .flex span.t-heading-4){
    font-size: 0;
}
.menu ~ :global(.flex .vtex-account__page-body.vtex-account__cards-list .flex span.t-heading-4::before){
    content: "¡Aún no tiene ningún método de pago registrado!";
    font-size: 1.5rem;
}